<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/master.html::headTag">
</head>
<body>
<div class="tm-header" th:replace="fragments/master.html::header"></div>
<div class="container">
  <div class="span3 well">
    <center>
      <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" class="img-circle"></a>
      <h3 th:text="${author.getName()}">Joe Sixpack</h3>
      <p><em>click on the profile pic for more</em></p>
      <div th:if="${#authentication.getName()} == ${author.getEmail()}">
      <button class="btn btn-primary" ><a th:href="@{/edit-profile}" style="color: inherit;">Edit profile</a></button>
        <button class="btn btn-danger"><a data-toggle="modal" data-target="#deleteModal" style="color: inherit;">Delete profile</a></button>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are You Sure ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                This action is irreversible, and you will lose all your blogs!!
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Go Back</button>
                <a type="button" class="btn btn-danger" th:href="@{/authors/delete}">Yes, Delete My profile</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </center>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title" id="myModalLabel" th:text="'More about ' + ${author.getName()}">More About Joe</h4>
        </div>
        <div class="modal-body">
          <center>
            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
            <h3 class="media-heading" th:text="${author.getName()}">Joe Sixpack</h3>
            <h4><span class="alert alert-success">@</span><span th:text=" ' ' + ${author.getEmail()}"></span></h4>
          </center>
          <hr>
          <center>
            <p class="text-left"><strong>Bio: </strong><br>
            <p class="text-left" th:text="${author.getDescription()}"><br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
            <br>
          </center>
        </div>
        <div class="modal-footer">
          <center>
            <button type="button" class="btn btn-default" data-dismiss="modal" th:text="'Ive heard enough about ' + ${author.getName()}"> Joe</button>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="tm-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-xs-center">
        <h2 class="tm-gold-text tm-title" th:text="'Blogs Written by ' + ${author.getName()}"></h2>
        <p class="tm-subtitle" th:text="'Here You can find all the blogs written by ' + ${author.getName().split(' ')[0]} + ' ever, apart from any that might have been deleted'"></p>
      </div>
    </div>
    <div th:replace="index.html::blogs"></div>
  </div>
</section>
<div th:replace="fragments/master.html::scripts"></div>
</body>
</html>