<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/master.html::headTag">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="tm-header" th:replace="fragments/master.html::header"></div>
<div class="container">
    <div class="row">
        <h2 th:text="${#httpServletRequest.getRequestURI().equals('/add-new-blog') || #httpServletRequest.getRequestURI().equals('/blogs') ? 'Create Your Blog' : 'Edit Blog'}">Create your Blog</h2>
    </div>
    <form action="#" method="post" th:object="${blog}" th:action="@{${#httpServletRequest.getRequestURI().equals('/blogs') || #httpServletRequest.getRequestURI().equals('/add-new-blog') ? '/blogs' : '/blogs/' +blog.getId()  }}">
        <div th:if="${#fields.hasErrors()}" class="alert alert-danger">
            <p>Please Correct the following errors!!</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-group-sm">
                    <label for="title" class="control-label">Title</label>
                    <input type="text" class="form-control" th:field="*{title}"  placeholder="Title of Your Blog">
                    <span th:if="${#fields.hasErrors('title')}" class="text-danger">
                    <ul>
                      <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
                    </ul>
                  </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="shortDescription" class="control-label">Abstract of your blog</label>
                    <textarea class="form-control" th:field="*{shortDescription}" rows=5 cols=15 style="resize: none;"></textarea>
                    <span th:if="${#fields.hasErrors('shortDescription')}" class="text-danger">
                    <ul>
                      <li th:each="err : ${#fields.errors('shortDescription')}" th:text="${err}"></li>
                    </ul>
                  </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="description" class="control-label">Write Your Blog</label>
                <textarea class="form-control" th:field="*{description}" rows=10 cols=15 style="resize: none;"></textarea>
                <span th:if="${#fields.hasErrors('description')}" class="text-danger">
                    <ul>
                      <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                    </ul>
                  </span>
            </div>
        </div>
        <div class="row m-t-2">
            <div class="col-xs-6">
                <input type="submit" th:value="${#httpServletRequest.getRequestURI().equals('/add-new-blog') || #httpServletRequest.getRequestURI().equals('/blogs') ? 'Create' : 'Update'}" class="btn btn-primary">
            </div>
        </div>
    </form>
    <div th:replace="fragments/master.html::scripts"></div>
</div>
</body>
</html>