<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/master.html::headTag">
</head>
    <body>
       <div class="tm-header" th:replace="fragments/master.html::header"></div>

        <div class="tm-home-img-container">
            <img src="../static/images/tm-home-img.jpg" alt="Image" class="hidden-lg-up img-fluid">
        </div>

        <section class="tm-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-xs-center">
                        <h2 class="tm-gold-text tm-title">Introduction</h2>
                        <p class="tm-subtitle">Blogzy brings you all the blogs that you ever need to read, so don't even think about any other blogging website next time.</p>
                    </div>
                </div>
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3" th:each="blog,status : ${blogs}">
                        <div class="tm-content-box">
                            <img src="../static/images/tm-img-310x180-2.jpg" alt="Image" class="tm-margin-b-20 img-fluid" th:src="@{'/images/tm-img-310x180-' + ${status.count} + '.jpg'}">
                            <h4 class="tm-margin-b-20 tm-gold-text" th:text="${blog.getTitle()}">Lorem ipsum dolor #2</h4>
                            <p class="tm-margin-b-20" th:text="${blog.getShortDescription()}">Aenean cursus tellus mauris, quis
                            consequat mauris dapibus id. Donec
                            scelerisque porttitor pharetra</p>
                            <a href="#" class="tm-btn text-uppercase" th:href="@{'/blogs/' + ${blog.getId()}}">Read More</a>
                        </div>
                    </div>

                </div> <!-- row -->
            </div>
        </section>

       <footer class="tm-footer" th:replace="fragments/master.html::footer">
       </footer>


</body>
</html>