<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/authenticate.html::headTag">
  <meta charset="UTF-8">
  <title>Blogzy</title>
</head>
<body>
<div class="tm-header" th:replace="fragments/authenticate.html::header">
</div>
<div class="container mt-5">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8  col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Please sign up for Blogzy</h3>
        </div>
        <div class="panel-body">
          <form th:object="${author}" method="post" th:action="@{/authors}">
            <div th:if="${#fields.hasErrors()}" class="alert alert-danger">
              <p>Please Correct the following errors!!</p>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-4">
                <div class="form-group">
                  <input type="text" name="first_name" id="first_name" th:field="*{name}" class="form-control input-sm" placeholder="Full Name">
                  <span th:if="${#fields.hasErrors('name')}" class="text-danger">
                    <ul>
                      <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                    </ul>
                  </span>
                </div>
              </div>
              <div class="col-xs-8 col-sm-8 col-md-8">
                <div class="form-group">
                  <input type="text" name="last_name" id="last_name" th:field="*{description}" class="form-control input-sm" placeholder="Short Description">
                  <span th:if="${#fields.hasErrors('description')}" class="text-danger">
                    <ul>
                      <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                    </ul>
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <input type="email" name="email" id="email" th:field="*{email}" class="form-control input-sm" placeholder="Email Address">
              <span th:if="${#fields.hasErrors('email')}" class="text-danger">
                    <ul>
                      <li th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
                    </ul>
              </span>
            </div>

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
                  <input type="password" name="password" id="password" th:field="*{password}" class="form-control input-sm" placeholder="Password">
                  <span th:if="${#fields.hasErrors('password')}" class="text-danger">
                    <ul>
                      <li th:each="err : ${#fields.errors('password')}" th:text="${err}"></li>
                    </ul>
                  </span>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
                  <span th:if="${match==false}" class="text-danger">
                    <ul>
                      <li>Passwords do not match</li>
                    </ul>
                  </span>
                </div>
              </div>
            </div>
            <input type="submit" value="Register" class="btn btn-info btn-block">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>